.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  padding: 4rem 10%;
  background-color: #f9f5ef;
  font-family: "Poppins", sans-serif;
  color: #5f4b32;
  flex-wrap: wrap;
}

.photographer-image {
  width: 200px;
  height: 200px;
  margin: 2rem auto 0 auto; /* top margin + auto for left and right */
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #ddd;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.photographer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-left {
  flex: 1;
  min-width: 300px;
}

.about-left h2 {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 600;
  color: #a97c50;
  margin-bottom: 1rem;
}

.about-left span {
  font-weight: 700;
}

.about-left p {
  font-size: 1rem;
  line-height: 1.8;
  color: #a97c50;
}

.about-right {
  flex: 1.2;
  min-width: 300px;
}

.about-right p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.8;
}
